# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
npl_prj01/.DS_Store
npl_prj01/data/
npl_prj01/bin
npl_prj01/include
npl_prj01/lib
npl_prj01/share
npl_prj01/pip-selfcheck.json
npl_prj01/source/settings.pyc
